//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  position: relative;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0;
  white-space: nowrap;
  box-shadow: 0 0 0 2px @btn-border-color, 0 0 0 4px #fff;

  //padding: @padding-base-vertical @padding-base-horizontal;
  background-color: @btn-bg;
  color: @btn-color;

  //border-radius: @border-radius-base;

  transform: translatez(0);
  transition: all @base-anim-duration @base-anim-ease;
  overflow: hidden;

  &:hover, &:focus {
    box-shadow: 0 0 0 2px @btn-border-color, 0 0 0 4px #fff, 0 0 4px rgba(255,255,255,.5);
    transition: all @base-anim-duration @base-anim-ease;
    .btn-gradient {
      transform: translateX(100%);
      transition: all @base-anim-duration*2 @base-anim-ease;
    }
  }

  &-gradient {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 300%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;

    background: rgb(42,227,151);
    background: -moz-linear-gradient(90deg,  rgba(42,227,151,1) 0%, rgba(0,255,144,1) 94%, rgba(42,227,151,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(42,227,151,1)), color-stop(94%,rgba(42,227,151,1)), color-stop(100%,rgba(42,227,151,1)));
    background: -webkit-linear-gradient(90deg,  rgba(42,227,151,1) 0%,rgba(0,255,144,1) 94%,rgba(42,227,151,1) 100%);
    background: -o-linear-gradient(90deg,  rgba(42,227,151,1) 0%,rgba(0,255,144,1) 94%,rgba(42,227,151,1) 100%);
    background: -ms-linear-gradient(90deg,  rgba(42,227,151,1) 0%,rgba(0,255,144,1) 94%,rgba(42,227,151,1) 100%);
    background: linear-gradient(90deg,  rgba(42,227,151,1) 0%,rgba(0,255,144,1) 94%,rgba(42,227,151,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ae397', endColorstr='#2ae397',GradientType=1 );

    // Transition out for gradient
    transition: all 0 @base-anim-ease;
    transform: translateX(-35%);
  }

  &-default {
    border-color: initial;
    background-color: @btn-color;
    color: @btn-bg;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: #fff;//lighten(@color-primary, 50%);
    text-decoration: none;

    &.btn-default {
      color: darken(@color-primary, 25%);
    }
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    //.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    //cursor: @cursor-disabled;
    opacity: .65;
    box-shadow: none;
  }

  a& {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }

  &__loading {
    color: transparent !important;
    &:before {
      @size : @line-height-computed;

      .throbber-icon(@size, #fff, 2px);

      top:50%;
      left:50%;
      margin-top: -@size/2;
      margin-left: -@size/2;

      content:"";
      z-index: ~"+3";
    }
  }
}

//.btn + .btn {
//  margin-left: @padding-base-horizontal;
//}
//
//.btn-action {
//  padding-left: @padding-base-horizontal*2;
//  padding-right: @padding-base-horizontal*2;
//
//  &__prev {
//    float:left;
//  }
//
//  &__next,
//  &__skip,
//  &__submit {
//    float:right;
//  }
//}