// Link

.link {
  cursor: pointer;
  text-decoration: none;

  &:active {
    color: @color-primary;
  }
  &:hover {
    color: @color-primary;
    text-decoration: underline;
  }
}

// WebKit-style focus

.tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
  background-image: linear-gradient(left, @startColor, @endColor);
}

.retina-bg(@base-url, @retina-url, @width : image-width(@base-url), @height : image-height(@base-url)) {
  @img-url : @base-url;
  //@width : image-width(@img-url);
  //@height : image-height(@img-url);
  background-image: url('@{img-url}');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: @width @height;
  width: @width;
  height: @height;

  .retina({
    @img-url : @retina-url;
    background-image: url('@{img-url}');
    //@width : image-width(@img-url);
    //@height : image-height(@img-url);
    //background-size: @width @height;
  });
}

.retina(@rules) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @rules();
  }
}