.ripple {
  @s : 100px;
  background-color: fade(rgba(0,255,144,1), 100%);
  border-radius: 100%;
  height: @s;
  width: @s;
  position: absolute;
  transform: scale(0);

  &__animated {
    animation: ripple @base-anim-duration*1.5 linear;
  }

  @keyframes ripple {
    100% {
      transform: scale(12);
      background-color: transparent;
    }
  }
}