.timelisting {
  @margin-vertical : 5px;
  @margin-horizontal : 15px;

  cursor: pointer;
  display: inline-block;
  line-height: 24px;
  font-size: @font-size-middle;
  font-weight: bold;
  padding: @padding-base-vertical @padding-base-horizontal;
  min-width: 140px;

  color: @color-primary;
  border: 1px solid @datepicker-border-color;
  box-shadow: none;
  border-radius: @border-radius-base;

  &:hover {
    background: @datepicker-disabled-bg;
    border-color: @datepicker-border-color;
  }
  &:focus,
  &:active {
    color: @color-primary;
    border-color: @color-primary;
  }

  &.active {
    //box-shadow: 0 0 0 4px @input-border-focus;
    border-color: @color-primary;
    background: @color-primary;
    color: #fff;
    &:hover {
      color: lighten(@color-primary, 45%);
    }
  }

  &, &+& {
    margin: @margin-vertical @margin-horizontal;
  }
}
.timelisting input {
  display: none;
}
.timelisting-backlink {
}
.timelisting-container {
  margin: 0 -15px;
}
.timelisting-label {
  font-size: @font-size-base;
  display: block;
  margin: 20px 0 20px;
  //color: #737b81;
  border-bottom: 1px solid @datepicker-border-color;
  padding: 0 0 10px;
  &:first-child {
    margin-top:0;
  }
}
.timelisting--period {
  font-size: @font-size-base;
  //letter-spacing: -0.03em;
  //min-width: 150px;
}