@path-images : '../img/';

@wrapper-max-width : 780px;
@wrapper-min-width : 320px;//780px;
@wrapper-side-padding : 20px;

@color-primary : #831a6a;;//#ffffff;
@color-secondary: #2ae397;
@color-element : @color-secondary;
@color-element-dark : #20ba7a;
@color-disabled : #cccccc;
@color-critical : #dd191d;

@body-bg : @color-primary;

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-middle:            lighten(@gray-base, 65.7%); //
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@btn-bg : @color-element;
@btn-color : #75024c;//@color-primary;
@btn-border-color : #680f53;//@color-primary;
@text-color : #fff;
@link-color : @color-primary;
@link-hover-color : fade(@link-color, 80%);
@link-hover-decoration : none;

@base-anim-duration : .45s;
@base-anim-ease : cubic-bezier(.55,0,.1,1);

//@padding-base-vertical : 12px;
//@padding-base-horizontal : 24px;

@font-size-large : 18px;
@font-size-middle : 16px;
@font-size-base : 14px;
@font-size-small : 12px;
@font-size-x-small : 10px;

@font-family-base : 'Open Sans Bold', 'Arial Black', 'Open Sans', Arial;
@font-family-bold : 'Gotham Pro Black', 'Gotham Pro', @font-family-base;
@font-family-bolder : 'PT Sans Bold', 'PT Sans', @font-family-bold;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//@border-radius-base:        3px;
//@border-radius-large:       6px;
//@border-radius-small:       2px;

//** Horizontal line color.
@hr-border:                   @gray-middle;

//@state-success-text:             #3c763d;
//@state-success-bg:               #dff0d8;
//@state-success-border:           darken(spin(@state-success-bg, -10), 5%);
//
//@state-info-text:                #31708f;
//@state-info-bg:                  #d9edf7;
//@state-info-border:              darken(spin(@state-info-bg, -10), 7%);
//
//@state-warning-text:             #8a6d3b;
//@state-warning-bg:               #fcf8e3;
//@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);
//
//@state-danger-text:              #a94442;
//@state-danger-bg:                #f2dede;
//@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);
//
//@alert-padding : 15px;
//@alert-border-radius : 0;
//@alert-link-font-weight : inherit;
//
//@alert-success-bg:            @state-success-bg;
//@alert-success-text:          @state-success-text;
//@alert-success-border:        @state-success-border;
//
//@alert-info-bg:               @state-info-bg;
//@alert-info-text:             @state-info-text;
//@alert-info-border:           @state-info-border;
//
//@alert-warning-bg:            @state-warning-bg;
//@alert-warning-text:          @state-warning-text;
//@alert-warning-border:        @state-warning-border;
//
//@alert-danger-bg:             @state-danger-bg;
//@alert-danger-text:           @state-danger-text;
//@alert-danger-border:         @state-danger-border;
//
////** Disabled cursor for form controls and buttons.
//@cursor-disabled:                not-allowed;
//
////** `<input>` border color
//@input-border:                   @gray-middle;
//@input-border-error:             @color-critical;
////** Border color for inputs on focus
//@input-border-focus:             @color-primary;
//
//@radio-checkbox-bg:             @color-primary;
//
////** date picker
//@datepicker-border-color : #edf0f2;
//@datepicker-text-color : #aaaeb3;
//@datepicker-bg : #fff;
//@datepicker-active-bg : #fff;
//@datepicker-disabled-bg : #f7f9f9;
//
////== Tables
////
////** Padding for `<th>`s and `<td>`s.
//@table-cell-padding:            20px;
////** Padding for cells in `.table-condensed`.
//@table-condensed-cell-padding:  10px;
//
////** Default background color used for all tables.
//@table-bg:                      transparent;
////** Background color used for `.table-striped`.
//@table-bg-accent:               #f9f9f9;
////** Background color used for `.table-hover`.
//@table-bg-hover:                #f5f5f5;
//@table-bg-active:               @table-bg-hover;
//
////** Border color for table and cell borders.
//@table-border-color:            #c8c7cc;//#ddd;
//@block-border-color:            #cdd1d4;
//
////== Modals
////
////##
//
////** Padding applied to the modal body
//@modal-inner-padding:         @padding-base-vertical*3 @padding-base-horizontal*1.5;
//
////** Padding applied to the modal title
//@modal-title-padding:         @padding-base-horizontal;
////** Modal title line-height
//@modal-title-line-height:     @line-height-base;
//
////** Modal backdrop background color
//@modal-backdrop-bg:           #000;
////** Modal backdrop opacity
//@modal-backdrop-opacity:      .15;

@zindex-modal-background:  1040;
@zindex-modal:             1050;
@zindex-global-process-loader:             9000;
@zindex-nav:             1100;