.b-form {

}
.b-form-actions {
  .clearfix();

  display: block;
  margin: 20px 0 0;
  padding: 20px 0 0;

  // when footer is hidden
  margin-bottom: 40px;

  border-top: 1px solid @color-disabled;

  &__hidden {
    display: none;
  }
}

.b-form-group {

}

.b-form-group-item {
  margin-top: 20px;
  & + & {
    margin-top: 40px;
  }
}

.b-form-group-item-title {

}

.b-form {

  //.required {
  //  position:relative;
  //  &:after {
  //    content:"*";
  //    display: inline;
  //    margin-left:.5em;
  //    color: @color-critical;
  //  }
  //}

  select,
  textarea,
  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password],
  .bootstrap-select.btn-group .btn {

    font-family: inherit;

    font-size: @font-size-middle;
    font-weight: normal;
    //line-height: 18px;

    line-height: @line-height-computed;
    padding: @padding-base-vertical @padding-base-horizontal;
    border:1px solid @gray-middle;
    background: #fff;

    box-sizing: border-box;
    width:100%;

    //transition: background-color .35s ease;
    outline-color: fade(@color-primary, 50%);

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px #ffffff inset;
    }

    &[disabled] {
      background: #f2f2f2;
    }
  }

  textarea {
    white-space: pre;
  }

  span.input-upper > textarea,
  span.input-upper > input,
  .input-upper {
    text-transform: uppercase;
  }

  //.input-upper{
  //  .placeholder({text-transform: initial;})
  //}

  .bootstrap-select .btn {
    padding-right:36px;
  }

  .bootstrap-select .btn:active,
  .bootstrap-select .btn:focus,
  .bootstrap-select .btn:hover {
    background: #f2f2f2 !important;
    color: inherit;
    outline: none !important;
  }

  .select2-container .select2-selection .select2-selection__arrow,
  .bootstrap-select.btn-group .btn .caret {
    display: block;
    width:16px;
    height:16px;
    font-size: 24px;
    margin-top:-.5em;
    border: 0 !important;
    background: none !important;

    //&:before {
    //  .fa-icon();
    //  content: @fa-var-angle-down;
    //  font-size: inherit;
    //  font-weight: normal;
    //  text-align: center;
    //  border: 0;
    //  color: @input-color;
    //}
  }

  select.attr-value-el--filled,
  select.attr-value-el--filled + .btn,
  select.attr-value-el--filled + .btn-group > .btn,
  input[type=email].attr-value-el--filled,
  input[type=text].attr-value-el--filled,
  input[type=date].attr-value-el--filled,
  input[type=password].attr-value-el--filled,
  textarea.attr-value-el--filled {
    outline:0;
    background: transparent !important; /* !important because of automask.js field.style.background usage*/
  }
  select:active,
  select:focus,
  textarea:active,
  textarea:focus,
  input[type=date]:active,
  input[type=text]:active,
  input[type=date]:focus,
  input[type=text]:focus,
  input[type=email]:active,
  input[type=email]:focus,
  input[type=password]:active,
  input[type=password]:focus {
    outline:0;
    background: transparent !important; /* !important because of automask.js field.style.background usage*/
    //border-color: @input-border-focus;
    //box-shadow: 0 0 0 4px @input-border-focus;

    &:-webkit-autofill {
      //box-shadow: 0 0 0 4px @input-border-focus;
    }
  }

  select.error,
  select.error + .bootstrap-select > .btn,
  textarea.error,
  input[type=checkbox].error + label:before,
  input[type=hidden].error + input[type=checkbox] + label:before,
  input[type=radio].error + label:before,
  input[type=email][error],
  input[type=tel][error],
  input[type=number][error],
  input[type=date][error],
  input[type=text][error],
  input[type=text].error,
  input[type=tel].error,
  input[type=number].error,
  input[type=date].error,
  input[type=email].error,
  input[type=password].error {
    border-width: 1px;
    border-color: @input-border-error !important;
    box-shadow: none;
  }

}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio-checkbox(@border-radius, @size : 20px) {
  margin-left: 0;
  opacity: 0;
  & + label > span:first-child:last-child {
    display: inline-block;
    margin-left: @padding-base-horizontal/2;
  }
  & + label:before {
    border-radius: @border-radius;
    content:"";
    width:  @size;
    height: @size;
    float:left;
    background: transparent center center no-repeat;
    background-size: 100% 100%;
    border: 1px solid @input-border;
    margin: 0 0 0 0;//-@padding-base-horizontal;
    position: relative;
  }
  &:hover + label:before ,
  &:focus + label:before {
    border-color: @input-border-focus;
  }
  &:disabled + label {
    cursor: default;

    &:before {
      border: 1px solid @input-border;

      &:hover {
        border: 1px solid @input-border;
      }
    }
  }
  &:focus + label:before {
    box-shadow: 0 0 2px fade(@input-border-focus,50%);
  }
  &:checked + label:before {
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 6px @radio-checkbox-bg;
  }
  &:checked:disabled + label:before {
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 6px @gray-middle;
  }
}

.radio input[type="radio"] {
  .radio-checkbox(100%);

  &:focus + label:before {
    border-color: @input-border;
    box-shadow: none;
  }

  &:checked + label:before {
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 6px @radio-checkbox-bg;
  }
}
.checkbox input[type="checkbox"] {
  @border-radius : @border-radius-large;
  .radio-checkbox(@border-radius);
  &:checked + label{
    &:before {
      background: #fff;//@radio-checkbox-bg;
      box-shadow: none;
    }
    &:after {
      //.fa-icon();
      content: "";//@fa-var-check;
      position: absolute;
      top: 5px;
      left:5px;
      color: #fff;
      background: @radio-checkbox-bg;//#fff;
      width: 10px;
      height:10px;
      border-radius: @border-radius/2;
      display: block;
      //font-size: @fa-font-size-base;
    }
  }
  &:checked:disabled + label{
    &:before {
      background: @gray-middle;
      box-shadow: none;//inset 0 0 0 1px #fff;
    }
  }

}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    min-height: @line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 6px;//@padding-base-horizontal;//18px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -@padding-base-horizontal;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 10px; // space out consecutive inline controls
  margin-top: 0;
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }
}
// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }
}
// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: @cursor-disabled;
    }
  }
}