.form-field {
  vertical-align: top;
  position: relative;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  & + & {
    margin-top: 30px;
  }

  &.checkbox-group {
    margin: 20px 0 0;
    .checkbox {
      font-size: @font-size-small;
      line-height: 21px;
      & + & {
        margin-top: 20px;
      }
    }
  }

  .radio, .checkbox {
    margin: 12px 0;
    &:first-of-type {
      padding-left:0;
    }
  }
}
.form-field__inline {
  display: table;
  table-layout: fixed;

  .form-field-title,
  .form-field-value {
    display: table-cell;
    vertical-align: top;
  }
  .form-field-title {
    width: 50%;
    padding-right: @padding-base-horizontal;
  }
  .form-field-title-label {
    display: table;
    width:100%;
    min-height: @padding-base-vertical*2 + @line-height-computed;
  }
  .form-field-title-label-text {
    display: table-cell;
    vertical-align: middle;
  }
}
.form-field-title {

}
.form-field-title-label {

}
.form-field-title-label-text {

}
.form-field-value {
  display: block;
  position: relative;
  line-height:24px;

  textarea {
    resize: vertical;
    max-height: 18em;
    min-height: 5.5em;
  }

  select,
  input[type=tel],
  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password]{
    width:100% !important;
  }
}
.form-field-value-inner {
  position: relative;
  .clearfix();
}

.field__button:first-child:last-child {
  float: right;
}

.form-field-error {
  display: block;
  padding: @padding-base-vertical/2 0 @padding-base-vertical;
  font-size: @font-size-small;
  color: @color-critical;
  & + .form-field-example {
    margin-top: -@padding-base-vertical;
  }
}

.form-field-example {
  display: block;
  padding: 0 0 @padding-base-vertical;
  font-size: @font-size-small;
  color: @gray-middle;
  &:hover {
    color: @gray-light;
  }
  a {
    color: inherit !important;
    border-bottom: 1px dashed;
    &:hover {
      text-decoration: none !important;
    }
  }
}