.service-packages-title {
  font-size: @font-size-large;
  font-weight: bold;
  padding: 0 0 @padding-base-vertical*2;
  margin:0;
}
.service-packages-info-title {
  font-size: 22px;//@font-size-middle;
  padding: @padding-base-vertical*2 0 @padding-base-vertical;
  margin: 0 0 @padding-base-vertical*2;
  border-bottom: 1px solid @gray-lighter;
}
.service-packages-info-content {
  padding-left: @padding-base-horizontal*1.5;
}
.service-packages-content-title {
  position: relative;
  &:before {
    content: "—";
    position: absolute;
    top: 0;
    left: -@padding-base-horizontal*1.5;
    line-height: 1em;
    font-size: @font-size-large;
  }
  ul {
    font-size: @font-size-small;
    color: @gray-light;
    margin: 1em 0 .5em;
    padding: 0;
  }
  li + li {
    margin-top: .5em;
  }
}
.service-packages-content-desc {
  margin: 0;
  padding: .5em 0 0;
  font-weight: bold;
}
.service-packages-price {
  display: inline-block;
  font-size: 32px;
  text-align: left;
  line-height: 1em;
  margin: @padding-base-vertical*2 0 @padding-base-vertical*4;
}
.service-packages-price-value {
  font-weight: bold;
  position: relative;
  &:before {
    content: "=";
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: .75em;
    line-height: 1em;
    font-size: 150%;
    font-weight: normal;
  }
}

.service-packages-info-footer {
  padding: @padding-base-vertical*2 0 0;
  text-align: right;
}
.service-packages-actions {
  text-align: right;
}

.service-packages-layout {
  display: table;
  table-layout: fixed;
  width: 100%;

  tfoot {
    tr:last-child {
      td, th {
        border: 0;
      }
    }
  }
}

.service-packages-layout-section-head {
  td, th {
    border-top: 0 !important;
  }
  th {
    padding-left: 5px !important;
    padding-right: 5px !important;
    text-align: center;
    word-break: break-word;
  }
}

.service-packages-layout-col {
  &__selected {
    background-color: #fafafa;
  }
}

.service-packages-layout-col-title {
  width:75%;
}
.service-packages-layout-col-value {
  text-align: center;
  width:1%;
}

.service-packages-layout-row-group_title {
  td {
    font-size: 18px;
    font-weight: bold;
    background: #f2f2f2;
    padding-top: @padding-base-vertical*3;
  }
}

.service-packages-btn {
  @padd : @padding-base-horizontal/4;

  font-weight: bold;
  width: 100%;
  padding-left: @padd;
  padding-right: @padd;
  &__selected {
    color: #ccc;
    background: #f2f2f2;
    border-color: initial;
    font-weight: normal;
  }
}