.offices-map {
  position: relative;
  width:100%;
  height: 465px;
  background: @gray-lighter;

  &:before {
    content:"";
    position: absolute;
    z-index: ~"+2";
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: @gray-lighter;
    display: block;
  }
  &:after {
    @size : 100px;

    .throbber-icon(@size);

    top:50%;
    left:50%;
    margin-top: -@size/2;
    margin-left: -@size/2;

    content:"";
    display: none;
    z-index: ~"+3";
  }
  &__loading:after {
    display: block;
  }
  &__ready:before {
    display: none;
  }
  &__ready&__loading{
    &:before {
      display: block;
      background: #fff;
      opacity: .5;
    }
  }

  &__error {
    display: none !important;
  }
}
.offices-appointment {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 20px 10px;

  &:nth-child(2n-1) {
    padding-left:0;
  }
  &:nth-child(2n) {
    padding-right:0;
  }

  &__date {

  }
  &__time {

  }
  &__disabled {
    opacity: .75;
    pointer-events: none;
    * {
      color: @gray-lighter !important;
    }
  }
}