@step-marker-size: 6px;

.b-steps {
  margin: 20px 0 30px;
  font-size: @font-size-small;
}

.b-steps-wrapper {
  display: table;
  table-layout: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
}

.b-steps-item {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  text-transform: lowercase;

  border-bottom: 3px solid;

  transition: color @base-anim-duration/2 @base-anim-ease;

  & {
    color: @color-secondary;
    cursor: default;
  }
  &__passed {
    color: @color-disabled;
    cursor: pointer;
  }
  &__active {
    color: @color-primary;
    cursor: pointer;
  }
}

.b-steps-item-inner {
  @marker-size: @step-marker-size;
  @marker-border-width: 1px;
  @marker-border-size: @marker-border-width*2;

  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  &:before,
  &:after {
    content: "";
    width: @marker-size;
    height: @marker-size;
    display: block;
    position: absolute;
    bottom: -@marker-size/2 - @marker-border-size;

    z-index: ~"+1";

    background: #fff;
    border: 1px solid;
    border-color: inherit;
    border-radius: 100%;
  }

  &:before {
    left: -@marker-size/2;
  }
  &:after {
    right: -@marker-size/2;
  }
}

.b-steps-item__active + .b-steps-item {
  .b-steps-item-inner:before {
    color: @color-primary;
  }
}

.b-steps-item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  cursor: inherit;

  padding: @padding-base-vertical/2 @padding-base-horizontal/2;

  &:hover {
    color: inherit;
  }
}