.b-hold-results {
  display: block;
  position: relative;
  margin: 20px 0;
}
.b-hold-results-area {
  width:100%;
  height:200px;
  padding:20px;
  cursor: text;
  border: 1px solid @input-border;
  background: @gray-lighter;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;

  &:hover,
  &:focus,
  &:active {
    background: #f2f2f2;
  }
}