<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=600, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{DOC_TITLE}}</title>
  <link href="{{STYLES_PATH}}app.min.css?_={{BUILD_VERSION}}" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="{{SCRIPTS_PATH}}vendor/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="app">
<div class="app-throbber-wrapper">
  <div class="app-throbber">
    <div class="app-throbber-icon"></div>
  </div>
</div>
<div id="{{ROOT_EL_ID}}" class="app-root"></div>
<script src="{{SCRIPTS_PATH}}vendor/require-{{REQUIREJS_VERSION}}.min.js"></script>
<script src="{{SCRIPTS_PATH}}app.js?_={{BUILD_VERSION}}"></script>
<script>
  app.init({
    'rootElId': '{{ROOT_EL_ID}}',
    'buildVersion': '{{BUILD_VERSION}}',
    'scriptsPath': '{{SCRIPTS_PATH}}'
  });
</script>
</body>
</html>