<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=600, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{DOC_TITLE}}</title>
  <link href="css/app.min.css?_=1" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="js/vendor/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="app">

<div id="loader" class="loader-outer">
  <div class="loader">
    <svg class="circular">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>

<div id="app-root" class="app-root">

  <div class="nav">
    <div class="nav-bg"></div>
    <div class="nav-bg-overlap"></div>
    <a class="nav-logo" href="#" data-click="scrollTo"></a>
    <nav class="nav-content">
      <a class="nav-link" href="#">Portfolio</a>
      <a class="nav-link" href="#">About me</a>
      <a class="nav-link" href="#">Testimonials</a>
      <a class="nav-link" href="#">Clients</a>
      <a class="nav-link" href="#">Conditions</a>
      <a class="nav-link" href="#">Questions</a>
      <a class="nav-link" href="#">Prices</a>
      <a class="nav-link" href="#">Contacts</a>
    </nav>
  </div>

  <section class="section intro">
    <div class="intro-bg" id="stage-bg"></div>

    <div class="intro-content">

      <div class="intro-logo-outer">
        <div class="intro-logo"></div>
      </div>

      <div class="intro-text-outer">
        <div class="intro-text">
          <h1>Igor Schipan</h1>
          <h2>Web design / Branding / Creative direction</h2>
        </div>
      </div>
    </div>

    <div class="intro-footer">

      <div class="intro-btn-outer">
        <button class="intro-btn btn" id="intro-btn">
          <i class="btn-gradient"></i>
          <span class="intro-btn-inner btn-inner">
            <span class="btn-text">View projects</span>
          </span>
        </button>
      </div>

      <div class="intro-arrow">
        <button class="intro-arrow-inner">
          <span class="intro-arrow-icon"></span>
        </button>
      </div>

    </div>

    <div class="lang-switch-box">
      <div class="lang-switch-border"></div>
      <div class="lang-switch">
        <span>EN</span>
      </div>
    </div>

  </section>

  <section class="section portfolio">
    TODO
  </section>
  <section class="section contacts">
    TODO
  </section>

</div>

<script src="{{SCRIPTS_PATH}}build.min.js?_={{BUILD_VERSION}}"></script>
<script>
  app.init({
    'rootElId': '{{ROOT_EL_ID}}',
    'buildVersion': '{{BUILD_VERSION}}',
    'imagesPath': '{{IMAGES_PATH}}',
    'scriptsPath': '{{SCRIPTS_PATH}}'
  });
</script>

</body>
</html>