.intro {
  position: relative;
  height: 100%;
  width: 100%;
}
.intro-bg {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;

  background-color: @body-bg;
  background-image: url('@{path-images}bg-intro.jpg');
  background-repeat: no-repeat;
  background-size: 1920px;//cover;
  background-position:  center bottom;

  canvas {
    background: transparent;
  }
}

.intro-content {
  left: 0;
  top: 22%;
  display: block;
  position: relative;
  text-align: center;
  width:100%;
  height:auto;
}

.intro-logo,
.intro-text {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 auto;
  padding:0;
}
.intro-logo {
  @width : 71px;
  @height : 94px;
  margin-bottom: 96px;
  .retina-bg('@{path-images}logo.png', '@{path-images}logo@2x.png', @width, @height);
}
.intro-text {
  @width : 369px;
  @height : 66px;
  text-indent: -9999px;
  .retina-bg('@{path-images}text.png', '@{path-images}text@2x.png', @width, @height);

  h1, h2 {
    margin: 0;
    padding: 0;
    line-height: @height / 2;
  }
}
.intro-footer {
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  bottom:19%;
}
.intro-btn-outer {
  display: inline-block;
  margin: 0 auto 70px;
}
.intro-btn {
  padding: 19px 60px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: @font-family-bold;

  &, &-outer {
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    outline: none !important;
  }
}
.intro-arrow {
  display: block;
  text-align: center;

  @base-img : '@{path-images}scroll-arrow.png';

  &-inner {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;

    outline: none;
    transition: transform @base-anim-ease @base-anim-duration;

    &:hover, &:focus {
      transform: scale(1.2);
    }
  }
  &-icon {
    @keyframes fade-bounce-loop {
      0%, 100% {opacity: 0}
      0% {transform: translateY(-50%);}
      100% {transform: translateY(150%);}

      25%, 40%, 55%, 75% {transform: translateY(0); opacity: 1}
      50% {transform: translateY(0); opacity: 0.8}
    }

    display: block;
    animation: fade-bounce-loop @base-anim-duration*15 @base-anim-ease infinite;
    .retina-bg(@base-img, '@{path-images}scroll-arrow@2x.png')
  }
}

.lang-switch-box {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 30px;
  top: 35px;
}
.lang-switch-border {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  margin-top:-75%;
  margin-left:-100%;
  width: 300%;
  height: 0;
  padding-bottom: 250%;

  z-index: 1;
  border: 2px solid #fff;
  opacity: 0;
  box-sizing: border-box;
  border-radius: 100%;

  .lang-switch-box:hover & {
    @keyframes anim {
      0% {
        transform: rotate(-90deg);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(360deg);
        opacity: 0;
      }
    }

    border-color: transparent;
    animation: anim cubic-bezier(0.18, 0.14, 0.29, 1) 1s;
    animation-fill-mode: forwards;
    border-right-color: #fff;
  }
}
.lang-switch {
  font-size: @font-size-base;
  font-family: @font-family-bolder;
  text-transform: uppercase;
  color: #fff;
}