@loader-width: 100px;

.loader-outer {
  background-color: @body-bg;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  z-index: 999999;

  opacity: 1;
  transition: opacity @base-anim-duration @base-anim-ease;
  will-change: opacity;

  &.loader-hidden {
    pointer-events: none;
    opacity: 0;
  }
}
.loader {
  position: absolute;
  width: @loader-width;
  height: @loader-width;
  left: 50%;

  margin-left: -@loader-width/2;

  top: 20%;

  transform: scale(1.5);
}

.circular{
  animation: rotate 2s linear infinite;
  height: @loader-width;
  position: relative;
  width: @loader-width;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
      dash 1.5s ease-in-out infinite,
      color 6s ease-in-out infinite
;
  stroke-linecap: round;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes color{
  100%, 0%{
    stroke: lighten(@color-primary, 30%);
  }
  40%{
    stroke: lighten(@color-primary, 5%);
  }
  66%{
    stroke: darken(@color-primary, 5%);
  }
  80%, 90%{
    stroke: lighten(@color-primary, 10%);
  }
}