@nav-height:  52px;

.nav {
  height:@nav-height;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  z-index: @zindex-nav;

  &__fixed {
    position: fixed;
  }
  &__attached {
    top:0;
    bottom:auto;
  }

  .clearfix();
}
.nav-bg {
  @img-url : '@{path-images}bg-nav.png';
  @width :  image-width(@img-url);
  @height :  image-height(@img-url);

  pointer-events: none;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height: @height;
  background-size: 100% @height;
  background-position: center bottom;
  background-image: url('@{img-url}');
  background-repeat: no-repeat;
  z-index: @zindex-nav + 2;
}
.nav-bg-overlap {
  z-index: @zindex-nav + 1;
  height:@nav-height;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;

  background-image: url('@{path-images}bg-intro.jpg');
  background-repeat: no-repeat;
  background-size: 1920px;//100% auto;//cover;
  background-position:  center bottom;
}
.nav-content {
  position: relative;
  z-index: @zindex-nav + 4;
  font-size: 0;
  text-align: right;
}
.nav-link {
  display: inline-block;
  vertical-align: top;
  padding: 20px 26px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: @font-family-bolder;
  font-size: @font-size-base;
  font-weight: bold;
  color: #fff;

  transition: color @base-anim-duration @base-anim-ease;

  &:hover, &:focus, &:active, &:visited {
    color: @color-element;
  }
  &:focus {
    box-shadow: 0 0 2px fade(#fff, .15);
  }
}

.nav-logo {
  position: absolute;
  left: 30px;
  .retina-bg('@{path-images}nav-logo.png', '@{path-images}nav-logo@2x.png');
  top: 50%;
  transform: translateY(-50%);
  z-index: @zindex-nav + 5;
}