.app-root {
  display: block;
  width:100%;
  height: 100%;

  background: @body-bg;
}

.app-global-process-loader {
  position: fixed;
  display: none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: fade(@body-bg, 50%);

  z-index: @zindex-global-process-loader;

  .app__loading & {
    display: block;
  }
}