@throbber-size : 200px;
@throbber-padding : 20px;

.throbber-icon(@size : 100px , @color : @color-primary, @shadow-size : 6px){
  position: absolute;
  display: block;
  width: @size;
  height: @size;
  border-radius: 50%;
  box-shadow: 0 @shadow-size 0 0 @color;
  animation: throbber-anim 0.45s linear infinite;
}

//.app-throbber-wrapper {
//  display: block;
//  position: fixed;
//  top:0;
//  left:0;
//  right:0;
//  bottom:0;
//  background: #fff;
//
//  z-index: 900;
//
//  transition: opacity @base-anim-duration @base-anim-ease;
//
//  .app__ready & {
//    opacity: 0;
//  }
//  .app__complete & {
//    display: none;
//  }
//}
//.app-throbber {
//  position: absolute;
//  left:50%;
//  top:50%;
//  margin-top:-@throbber-size/2;
//  margin-left:-@throbber-size/2;
//  width: @throbber-size;
//  height: @throbber-size;
//}
//.app-throbber-icon {
//  @throbber-icon-size : @throbber-size - @throbber-padding*2;
//  .throbber-icon(@throbber-icon-size);
//  top: @throbber-padding;
//  left: @throbber-padding;
//
//  color: transparent;
//  transition: box-shadow 6s @base-anim-ease, color 6s @base-anim-ease;
//
//  .app__error & {
//    color: @color-critical;
//    box-shadow: 0 0 20px 0 @color-critical;
//    animation: throbber-anim 3.0s @base-anim-ease 1;
//    &:after {
//      font-family: monospace;
//      content: "произошла критическая ошибка загрузки";
//      color: inherit;
//      position: absolute;
//      text-align: center;
//      left: 50%;
//      top: 50%;
//      transform: translate(-50%,-50%);
//    }
//  }
//}

@keyframes throbber-anim {
  0% {  transform: rotate(0deg);  }
  100% {  transform: rotate(360deg);  }
}